# Kconfig - AKITA-GEN2 board
#
# Copyright (c) 2018, blik GmbH
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_AKITA_GEN2

config BOARD
	default akita_gen2

config OSC_XTAL0_FREQ
	default 32000000

config MCG_FRDIV
	default 5

config MCG_FCRDIV
	default 0

if PINMUX_MCUX

config PINMUX_MCUX_PORTA
	def_bool y

config PINMUX_MCUX_PORTB
	def_bool y

config PINMUX_MCUX_PORTC
	def_bool y

endif # PINMUX_MCUX

if GPIO_MCUX

config GPIO_MCUX_PORTA
	def_bool y

config GPIO_MCUX_PORTB
	def_bool n

config GPIO_MCUX_PORTC
	def_bool y

endif # GPIO_MCUX

if UART_MCUX_LPUART

config UART_MCUX_LPUART_0
	def_bool y if UART_CONSOLE

endif # UART_MCUX

if I2C

config I2C_1
	def_bool y

endif # I2C

if ADC

config ADC_0
	def_bool y

endif # ADC

if SPI

config SPI_0
	def_bool y

endif # SPI

if LIS3DH

config LIS3DH_GPIO_NAME
	default GPIO_MCUX_PORTC_NAME

config LIS3DH_INT1_GPIO_PIN
	default 4

config LIS3DH_INT2_GPIO_PIN
	default 5

endif # LIS3DH

endif # BOARD_AKITA_GEN2
