# Kconfig - AKITA-GEN2 devboard
#
# Copyright (c) 2017, NXP
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_AKITA_GEN2_DEVBOARD
	bool "blik AKITA Gen2 devboard"
	depends on SOC_SERIES_KINETIS_KWX
	select SOC_PART_NUMBER_MKW41Z512VHT4
	select HAS_DTS_I2C_DEVICE
